@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}
@model List<Account>
<div class="container-fluid p-0">
    <div class="col-xl-12">
        <div class="white_box QA_section card_height_100">
            <div class="white_box_tittle list_header m-0 align-items-center">
                <div class="main-title mb-sm-15">
                    <h3 class="m-0 nowrap">Danh sách tài khoản</h3>
                </div>
                <div>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#accountModal">Thêm</button>
                </div>
            </div>
            <div>

                <table class="table lms_table_active2">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col" style="width: 30%;">Email</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th class="text-center" scope="col">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var accounts in Model)
                        {
                            <tr id="tr@(accounts.Id)">
                                <td>@i</td>
                                <th scope="row">
                                    @accounts.Email
                                </th>
                                <td>@accounts.Name</td>
                                <td>@accounts.Type</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-success btn-edit-account" data-bs-toggle="modal"
                                        data-bs-target="#editAccountModal" data-id="@(accounts.Id)">
                                        <i class="fas fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger btn-delete-account"
                                        data-id="@(accounts.Id)">
                                        <i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/createNewAccount" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="email" class="form-label">Username</label>
                        <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="Name" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="Password" aria-describedby="emailHelp"
                            required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/handleEditAccount" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="idAccountEdit" name="Id" value="">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" value="" id="nameEdit" name="Name"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordEdit" name="Password"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Type</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Type" id="typeEdit1" value="1">
                            <label class="form-check-label" for="typeEdit1">
                                1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Type" id="typeEdit0" value="0">
                            <label class="form-check-label" for="typeEdit0">
                                0
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const editBtns = document.querySelectorAll(".btn-edit-account");
    editBtns.forEach(function (elem) {
        elem.addEventListener("click", function () {
            let id = elem.getAttribute("data-id");
            var request = new XMLHttpRequest();
            document.getElementById("idAccountEdit").value = id;
            request.open("GET", "/getAccount/" + id);
            request.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let data = JSON.parse(this.responseText);
                    console.log(data)
                    document.getElementById("nameEdit").value = data.name;
                    document.getElementById("emailEdit").value = data.email;
                    if (data.type === 1) {
                        document.getElementById("typeEdit1").checked = true;
                    } else if (data.type === 0) {
                        document.getElementById("typeEdit0").checked = true;
                    }
                }
            };
            // Gửi yêu cầu đến máy chủ
            request.send();
        });
    });
    const deleteBtns = document.querySelectorAll(".btn-delete-account");
    deleteBtns.forEach(function (elem) {
        elem.addEventListener("click", function () {
            let id = elem.getAttribute("data-id");
            let isDelete = confirm("Bạn có chắc chắn muốn xóa không ?");
            if (isDelete) {
                var request = new XMLHttpRequest();
                var url = '/handleDeleteAccount';
                var params = "id=" + id;
                request.open('POST', url, true);

                //Send the proper header information along with the request
                request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                request.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        if (this.responseText == "success") {
                            window.location.reload()
                        } else {
                            window.alert("Có lỗi xảy ra. Xóa thất bại!");
                        }
                    }
                };

                // Gửi yêu cầu đến máy chủ
                request.send(params);
            }
        });
    });

</script>
